DEBUG=True
SECRET_KEY=YOU_MUST_HIDE_THIS_KEY
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/smartsub
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWD=postgres
POSTGRES_HOST=db