DEBUG=True
SECRET_KEY=YOU_MUST_HIDE_THIS_KEY
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/smartsub
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
TEMPLATE_DEBUG=False
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
ELASTICSEARCH_DSL_USE_SSL=False
ELASTICSEARCH_URL=127.0.0.1:9200
ALLOWED_HOSTS='*'
ES_URL = 'es:9200'